.menu-toggle {
  height: 60px;
  width: 42px;
  display: flex;
  align-items: center;
  justify-content: center;

//   margin-right: 7px;
  
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}


@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle-close{

 width: 40px;
 height: 40px;
 display: flex;
 align-items: center;
 justify-content: center;
padding: 0;
margin: 0;
margin-right: 10px;
margin-left: auto;
border-radius: 50%;
}



.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  
   
  
  transform: translateX(100%);
   transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);

  padding: 5px;
}

// .menu {
//   display: flex;
//   padding: 0;
//   margin: 0;
//   list-style: none;
// }

// @media (max-width: 767px) {
//   .menu {
//     display: none;
//   }
// }

.container-mob{
    display: flex;
    justify-content: space-between;
}