/* НАША КОМАНДА */
 


// .section.section-team{
//   padding-bottom: 60px;
//  }



 .team-heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.section-team {
  background-color: #f5f4fa;
}

.face {
  font-size: 16px;
  line-height: 1.2;
  color: var(--primary-text-color);
  text-align: center;
  padding-top: 30px;
  margin-bottom: 10px;

  &-position {
    font-size: 16px;
    line-height: 1.2;
    color: var(--secondary-text-color);
    text-align: center;
    margin-bottom: 30px;
  }
}

.team-list {
 
  margin: auto;
  list-style: none;
  
  
  
  @media screen and ( min-width: 768px){
    
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  

  }

    & .item {
    // margin-right: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 0px 0px 4px 4px;
    
    @media screen and ( max-width: 767px){
     &:not(:last-child){
      margin-bottom: 30px;} 
    }
    
    
   
    @media screen and ( min-width: 768px){
    width: 354px;
    }
    

  }
  // & .item:nth-child(4n) {
  //   margin-bottom: 0;
   
  // }
}

.social-links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
  
  justify-content: center;
  padding-bottom: 24px;
}

.full-icon {
  height: 44px;
  width: 44px;
  padding: 12px;
  display: block;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  background-color: var(--accent-color);
  fill: #f5f4fa;
}



  }

