/* ФУТЕР */

.footer {
  background-color: #2f303a;
  padding-bottom: 60px;

  &-flex {
    // display: flex;
    justify-content: center;
    text-align: center;
  }

  // &-cont{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
    
  // }
  &-list {
    padding-left: 0px;
    list-style: none;
  }
  &-contact-map {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 9px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &-contact-mailtel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    color: var(--secondary-text-color);
    margin-bottom: 9px;
    display: inline-block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &-join,
  &-subscribe {
    padding-top: 60px;
    // margin-left: 70px;
  }

  &-heading {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 20px;
    

  &-icon {
    position: absolute;
    width: 24px;
    height: 24px;
    right: 28px;
    fill: var(--primari-background-color);
  }
}

.social-links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 10px;
  
  padding-bottom: 30px;
}

.footer-links {
  padding: 0;
  margin-top: 20px;
}

.full-iconf {
  height: 44px;
  width: 44px;
  padding: 12px;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-color);
  }

  & .icon {
    fill: #ffffff;
  }
}

.footer-contact-mailtel {
  padding-bottom: 0px;
}
.footer-contact-map:hover,
.footer-contact-mailtel:hover,
.footer-contact-map:focus,
.footer-contact-mailtel:focus {
  color: var(--accent-color);
}
.enter-login {
  // display: flex;
  // flex-direction: row;

  & input {
    margin-right: 30px;
    // width: 358px;
    width: 100%
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);

    border-radius: 4px;
    background-color: #2f303a;
    padding: 15px 16px;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
    outline: none;
  }
}

.btn-footer {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 12px;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 28px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primari-background-color);
  margin: auto;
margin-top: 20px;
}
