

/* ХЕДЕР */






.page-header {
  border-bottom: 1px solid #f5f5f5;

  
    &__navigation {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  color: var(--primary-text-color);
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: 93px;
  display: none;
  }

  &__navigation--nolist {
  list-style: none;
  display: none;
}
  &__link.current {
  color: var(--accent-color);
  display: block;
  position: relative;
}

// &__link.current::after {
//   background: var(--accent-color);
//   content: '';
//   display: block;
//   position: absolute;
//   margin-top: 29px;
//   border-radius: 2px;
//   width: 100%;
//   height: 4px;

//   background: #2196f3;
//   border-radius: 2px;
// }

// &__link:hover,
// &__link:focus {
//   color: var(--accent-color);
// }
// &__link {
//   color: var(--primary-text-color);
//   text-decoration: none;
//   margin-right: 50px;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
  &__contact {
  // font-weight: 500;
  // font-size: 14px;
  // line-height: 1.2;

  // text-decoration: none;
  // display: flex;
  // padding-top: 32px;
  // padding-bottom: 32px;
  // margin-left: auto;
  display: none;
}
// &__contact--nolist {
//   list-style: none;
//   display: none;
// }


// &-contactlink {
//   margin-left: 30px;
//   color: var(--secondary-text-color);
//   letter-spacing: 0.02em;
//   text-decoration: none;
//   display: flex;
//   align-items: center;
//   transition-property: color;
//   transition-duration: 250ms;
//   transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
// }
//     &__icon {
//   margin-right: 10px;
//   fill: currentColor;
// }
//   &__icon:hover {
//   fill: var(--accent-color);
// }

// &-contactlink:hover,
// &-contactlink:focus {
//   color: var(--accent-color);
// }

// & .container {
//   display: flex;
//   align-items: center;
// }

// &__nav {
//   display: flex;
// }
}









